html {
    scroll-behavior: smooth;
}
body {
    background: black;
    font-family: "Baloo Tamma 2", cursive;
}
.container-fluid {
    text-align: center;
}
.boblock li a:hover{
    color: white;
}